<% comment.replies.each do |reply| %>
  <% if reply.persisted? %>
    <div style="padding-left: 5%;">
      <%= render 'row', row: reply %>
      <div style="padding-left: 5%;">
        <%= render 'replies', comment: reply %>
      </div>
    </div>
  <% end %>
<% end %>
