
<% comment.replies.each do |reply| %>
  <% if reply.persisted? %>
    <p style="padding-left: 10%;">
      <%= render 'row', row: reply %>
      <%= render 'replies', comment: reply %>
    </p>
  <% end %>
<% end %>
